/* Generic */
p {
    padding : 0px;
    line-height : 12px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Menu */
.left-menu {
    color:#000;
    margin-left: 10px;
    text-decoration: none !important;
    font-weight: bold;
}

.a-left-menu {
    margin-left: 10px;
    text-decoration: none !important;
    color:#007bff;
    font-weight: normal;
}

/* Header */
.header-info {
    background-color:#900C3F;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#f8f9fa;
}

/* Body */
#body {
    position: relative;
    min-height: 70vh;
}

/* Footer */
.footer-sections {
    background-color:#f8f9fa;
    padding:20px;
}

.footer-info {
    background-color:#414141;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#f8f9fa;
}

/* Table */
table th {
    /*background-color:#007bff !important;
    color: #fff !important;*/
    font-size: 14px !important;
}

table tr {
    font-weight: normal !important;
    font-size: 14px !important;
}

/* Mosaic Article */
.card-article {
    text-decoration: none !important;
    cursor: pointer;
    margin-bottom:20px;
}

.card-article:hover {
    border: solid 1px #007bff !important;
    border-radius: 6px 6px 6px 6px;
}

.card-article-title {
    font-size: 14px;
    font-weight: normal;
}

.card-article-price {
    margin-top:20px;
    font-size: 14px;
}

.card-article-price-promotion-in {
    color:red;
    margin-top:20px;
    font-size: 14px;
}

.card-article-price-promotion-out {
    color:gray;
    text-decoration:line-through;
    margin-top:20px;
    font-size: 14px;
}

.card-article-text {
    font-size: 12px;
    font-weight: normal;
}

.card-article-button {
    margin-top: 20px;
}

/* Detail Article */
.detail-article-price {
    font-size: 50px;
    color: #007bff;
}

.detail-article-price-promotion-in {
    color: #dc3545;
    font-size: 50px;
}

.detail-article-price-promotion-out {
    color: gray;
    text-decoration:line-through;
    font-size: 35px;
}

/* Star Rating */
#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

/* Image Article Detail */
.HoverDiv {
    position: relative;
    overflow: hidden;
    width:300px;
    border: solid 1px #DCDCDC;
    cursor: pointer;
}

.HoverDiv h1, .HoverDiv img {
    max-width: 100%;
    text-align:center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.HoverDiv:hover h1, .HoverDiv:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

h1 {
    margin: 8px 54px;
    display:inline-block;
    position:relative;
    z-index:1;
    padding:10px 50px;
    color:red;
    border: 1px solid #ccc;
    background: #fff;
}

h1:before {
    content:'';
    width:100%; height:100%;
    position:absolute;
    top:-1px; left:0;
    background:red;
    z-index:-1;
    border: 1px solid #ccc;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    background: #fff;
}

img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
    position:relative;
    z-index:1;
}

/* Rating Star */
.starrating > label:before {
    content: "\f005";
    margin: 2px;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating-small {
    font-size: 20px;
}

.starrating-medium {
    font-size: 40px;
}

.starrating > label {
    color: #222222;
}
 
.starrating > input:checked ~ label {
    color: #ffca08;
}
 
.starrating-hover > input:hover ~ label {
    color: #ffca08;
}

/* TPV */
.tpv-black-text-1 {
    background-color:#000;
    color:#6AED15;
    font-size:65px;
    text-align:right;
}

.tpv-black-text-2 {
    background-color:#000;
    color:#6AED15;
    font-size:16px;
    text-align:right;
    height:40px;
}

.tpv-category {
    background-color:#ECECEC;
    border:solid 1px #000;
    width:33%;
    height:120px;
    text-align:center;
    line-height:120px;
    font-size: 12px;
    font-weight:bold;
}

.tpv-title-module {
    background-color:#b8daff;
    width:100%;
    height:33px;
    padding-left:5px;
    margin-bottom:2px;
    border-radius:4px 4px 4px 4px;
    border:solid 1px #000;
}

.tpv-category:hover {
    background-color:#b8daff;
}

.tpv-div-button {
    margin-left:-12px;
    width:79px;
    margin-top:8px;
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

.scrollDiv {
    overflow: scroll;
    overflow-x: hidden;
}