h2 {
    text-align: center;
}

table thead tr {
    color: #fff;
    background-color: #007bff;
}

table thead tr .editar {
    background-color: green;
    text-align: center;
}

table thead tr .borrar {
    background-color: red;
    text-align: center;
}